<div class="row justify-content-center mt-4">
  <div class="col-11">
    <div class="card">
      <br>
      <div class="row mt-2 texto">
        <div class="col-6 ms-4 mt-4 mb-3 txt">
          <h2>Super Man</h2>
          <p>
            Superman (en español: Superhombre) es un superhéroe ficticio que apareció por primera vez en los cómics
            estadounidenses publicados por DC Comics. El personaje fue creado por el escritor estadounidense Jerry
            Siegel y el artista canadiense Joe Shuster en 1933 cuando ambos se encontraban viviendo en Cleveland, Ohio.

            Superman nació en el planeta Krypton y recibió el nombre de Kal-El al nacer. Cuando era bebé, sus padres, el
            científico Jor-El, y su esposa Lara Lor-Van, lo enviaron a la Tierra en una pequeña nave espacial momentos
            antes de que Krypton fuera destruido en un cataclismo natural.
          </p>

        </div>

        <div class="col-5 align-items-center d-flex imagen">
          <img src="../../../assets/img/superMan.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<app-footer></app-footer>
