
<footer class="footer row mt-4">
  <div class="container col-12">
    <div class="footer-row mt-5">
      <div class="container">
        <div class="social-link">

          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icono"></i></a>

        </div>
      </div>
      <div class="container">
        <div class="social-link">
          <a href="https://www.youtube.com/"><i class="fab fa-youtube icono"></i></a>
        </div>
      </div>
      <div class="container">
        <div class="social-link">
          <a href="https://www.instagram.com/"><i class="fab fa-instagram icono"></i></a>

        </div>
      </div>


    </div>

  </div>
</footer>
