<div class="row hoja">
  <div class="col-6 ">
    <div class="row text-center justify-content-center">
      <div class="col-4 mt-3">
        <img src="../../../assets/img/foto.jpeg" class="img-thumbnail img-fluid imagen " alt="">
      </div>
    </div>
    <div class="row text-center mt-3">
      <h3><strong>Deybison Stiven Perez Bojorge</strong></h3>

    </div>
    <div class="row text-center estudiante">
      <p>Estudiante Ingenieria de Sistemas</p>
    </div>
    <div class="row text-center">
      <p>Lo que mas me gusta de mi profesión es poder estudiar esta carrera ya que en si me inspire a estudiar ingenieria de sistemas
        porque veia a mi prima desarrollar paginas web y pues todo lo que tienes que pensar para así desarrollar una linea de codigo
        entonces me gusta la parte logica pero todo depende del desempeño que yo le ponga y le coja cariño a la programación.
        En un futuro quisiera ser un buen desarrollador y decir "escogi la mejor carrera"
      </p>
    </div>
    <div class="row mt-5 text-center">
      <h6><span>Fecha de nacimiento: </span>26 de julio del 2001</h6>
    </div>
    <div class="row text-center">
      <h6><span>correo: </span>deybison2026@gmail.com</h6>

    </div>

    <div class="container">

      <div class="row text-center">

        <div class="social-link mt-3 ">
          <a href="https://www.facebook.com"><i class="iconodos  fa-brands fa-facebook col-2"></i></a>
          <a href="https://twitter.com"><i class="iconotres fa-brands fa-twitter"></i></a>
          <a href="https://www.instagram.com"><i class="iconocuatro fa-brands fa-instagram"></i></a>
          <a href="https://co.pinterest.com"><i class="iconocinco fa-brands fa-pinterest"></i></a>



        </div>
      </div>
    </div>

  </div>


  <div class="col-5  col-derecha ">
    <div class="row  mt-4">
      <h3>Estudios</h3>
    </div>
    <div class="row  ">
      <h6><strong>Tecnologo en Analisis y Desarrollo de Sitemas de informacion 2019</strong></h6>
      <h6><strong>Sena</strong></h6>
    </div>
    <div class="row mt-4">
      <H3>Experiencia Lavoral</H3>
    </div>
    <div class="row">
      <h5>Desarrollador Backend & Frontend</h5>
      <p>Fabrica de Software Sena. 2021</p>
      <p class="parrafo">Este proyecto es un sistema de gestión de la dirección de formación profesional del sena, donde
        se manejan los procesos de las dependencias del sena a nivel nacional, entre ellas bienestar al aprendiz, ENI,
        SENNOVA, Egresados, entre otras.
        Dentro de este ámbito laboral me destaque en las siguientes:
        Desarrollar aplicaciones web en backend en el lenguaje de programaciòn PHP con la ayuda del framework LARAVEL,
        utilizar base de datos postgresql.
        Desarrollar aplicaciones web en frontend en el lenguaje de programaciòn JS, utilizando APIS Reset con HTML 5.
      </p>
    </div>
    <div class="row mt-4">
      <h3>EVENTOS</h3>
      <P>Senasoft 2020</P>
    </div>
    <div class="row mt-4">
      <h3>LOGROS</h3>
      <P>
        <li>
          Curso especial en ejercicio derechos fundamentales en el trabajo. 2019
        </li>
        <li>
          Curso especial en Photoshop cs5. 2019
        </li>
        <li>
          Curso especial en fundamentos de composición digital y graficas en movimiento (after effects). 2020
        </li>
        <li>
          Curso especial en fundamentos de programación. 2020
        </li>
        <li>Curso especial en tecnologías de la información y la comunicación tics (internet). 2020</li>
        <li>Curso especial en formulación y evaluación de proyectos. 2020</li>
        <li>Curso especial en manejo básico de herramientas ofimáticas. 2020</li>
        <li>
          Curso especial en desarrollo de bases de datos con SQL. 2020
        </li>
        <li>
          Curso especial en desarrollo de aplicaciones web con PHP. 2020
        </li>
        <li>
          Curso especial en diseñar páginas web con HTML y JavaScript. 2020
        </li>
      </P>
    </div>
  </div>
</div>


<app-footer></app-footer>
